<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="accueil">
      <ion-icon></ion-icon>
      <ion-label> <strong>Accueil</strong></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label><strong>Menu</strong> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="commandes">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label><strong>Commandes</strong> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compte">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label><strong>Compte</strong> </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>